<!DOCTYPE html>
<html>
<head>
	<title>New Jersey Institute of Technology</title>
</head>
<body>

<div id="course_selection">
	<form>
		<span id="department_list">	</span>
		<span id="course_list"></span>
		<span id="section_list"></span>
	</form>
</div>

<div id="student_list">
</div>

</body>

<script type="text/javascript">
    document.write("\<script src='//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js' type='text/javascript'>\<\/script>");
</script>

<script type="text/javascript">

	$("#department_list").load("/registration/departments/");

	$("#department_list").change(function() {
		$("#section_list").html("");
		$("#student_list").html("");
		$("#course_list").html("");
		$("#course_list").load("/registration/courses/" + $("select#department").val());
	});

	$("#course_list").change(function() {
		$("#section_list").html("");
	 	$("#student_list").html("");
	 	$("#section_list").load("/registration/sections/" + $("select#course").val());
	});

	$("#section_list").change(function() {
		$("#student_list").load("/registration/students/" + $("select#section").val());
	});

</script>

</html>