<h3>Add classes</h3>
<form>
	<span id="department_list">
	<select id="department">
		<option> -- Select Department -- </option>
		{% for department in department_list %}
			<option value={{ department.id }}> {{ department.name }} </option>
		{% endfor%}
	</select>
	</span>
	<span id="course_list"></span>
	<span id="section_list"></span>
</form>
<input id="add_section_button" type="button" value="Add">

<script type="text/javascript">
$("#department_list").load("/registration/departments/");

$("#add_section_button").hide();

	$("#department_list").change(function() {
		$("#section_list").html("");
		$("#course_list").html("");
		$("#course_list").load("/registration/courses/" + $("select#department").val());
	});

	$("#course_list").change(function() {
		$("#section_list").html("");
	 	$("#section_list").load("/registration/sections/" + $("select#course").val());
	});

	$("#section_list").change(function() {
		$("#add_section_button").show();
	});

	$("#add_section_button").click(
		function() {
			$.get("/registration/student_add_section/" + $("#ssn").val() + "/" + $("#section").val());
			$("#section_list").html("");
			$("#course_list").html("");
			$("#department_list").load("/registration/departments/");
			$("#add_section_button").hide();

			//TODO: Make this work reliably without repeating the following line
			$(".current_registration").load("/registration/student/" + $("#ssn").val());
			$(".current_registration").load("/registration/student/" + $("#ssn").val());
		}
		);

</script>