<h3>Student registered for classes</h3>
<form>
	<table>
	<th></th><th>Course</th><th>Section</th><th>Instructor</th><th>Time</th><th>Location</th>
	{% for section in student.section_set.all %}
	<tr>
		<td><input type="checkbox" name="class_section" value="{{ section.id }}"></td>
		<td>{{section.course.department.code}}{{section.course.number}}</td>
		<td>{{ section.number }}</td>
		<td>{{section.faculty.staff.last_name}}</td>
		<td>
			{% for time_slot in section.time_slot.all %}
				{{time_slot}}<br/>
			{% endfor%}
		</td>
		<td>
			{{section.location.building}}-{{section.location.room}}
		</td>
	</tr>
	{% endfor%}
	</table>
	<input type="button" value="Drop">
</form>
