<h3>{{student.first_name}} {{student.last_name}} is registered for: </h3>
<form>
	<table>
	<th></th><th>Course</th><th>Name</th><th>Credits</th><th>Instructor</th><th>Time</th><th>Location</th><th>Section</th>
	{% for section in student.section_set.all %}
	<tr>
		<td><input type="checkbox" name="class_section" value="{{ section.id }}"></td>
		<td>{{section.course.department.code}}{{section.course.number}}</td>
		<td>{{section.course.name}}</td>
		<td>{{section.course.credit}}</td>
		<td>{{section.faculty.staff.last_name}}</td>
		<td>
			{% for time_slot in section.time_slot.all %}
				{{time_slot}}<br/>
			{% endfor%}
		</td>
		<td>
			{{section.location.building}}-{{section.location.room}}
		</td>
		<td>{{ section.number }}</td>
	</tr>
	{% endfor%}
	</table>
	<input id="drop_section_button" type="button" value="Drop">
</form>

<script type="text/javascript">
	
	$("#drop_section_button").click( function() {
		$("input:checked").each( function() {
			$.get("/registration/student_drop_section/" + $("#ssn").val() + "/" + $(this).val());
		});

		//TODO: Make this work reliably without repeating the following line
		$(".current_registration").load("/registration/student/" + $("#ssn").val());
		$(".current_registration").load("/registration/student/" + $("#ssn").val());
	}
		);

</script>